<!-- INCLUDE overall_header.html -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#star-rating').rating(function(vote, event){
		$.ajax({
			url: AJAX_BLOG_RATE,
			type: "GET",
			data: {rate: vote},
		});
	});
});
</script>

<!-- IF S_BLOG_CAN_ADD --><a href="{U_BLOG_ADD}" class="button icon-button post-icon blog-add" title="{L_BLOG_ADD}">{L_BLOG_ADD}</a><!-- ENDIF -->
<h1 class="blog-name">{L_BLOG}</h1>

 <script>
		var AJAX_BLOG_RATE = '{U_BLOG_RATE}';
</script>

<div id="star-rating">
	<input type="radio" name="example" class="rating" value="1" />
	<input type="radio" name="example" class="rating" value="2" />
	<input type="radio" name="example" class="rating" value="3" />
	<input type="radio" name="example" class="rating" value="4" />
	<input type="radio" name="example" class="rating" value="5" />
</div>

<div class="panel blog-panel">
	<div class="inner">
		<!-- INCLUDE sidebar.html -->
		<div class="blog">
			<h2 class="blog-subject">{BLOG_SUBJECT}</h2>
			<!-- IF S_BLOG_CAN_DELETE --><a href="{U_BLOG_DELETE}" class="button icon-button delete-icon blog-edit" title="{L_BLOG_DELETE}">{L_BLOG_DELETE}</a><!-- ENDIF -->
			<!-- IF S_BLOG_CAN_EDIT --><a href="{U_BLOG_EDIT}" class="button icon-button edit-icon blog-edit" title="{L_BLOG_EDIT}">{L_BLOG_EDIT}</a><!-- ENDIF -->
			<!-- IF BLOG_AVATAR --><div class="blog-avatar">{BLOG_AVATAR}</div><!-- ENDIF -->
			<div class="blog-posted<!-- IF BLOG_AVATAR --> blog-posted-avatar<!-- ENDIF -->">
				{L_BLOG_AUTHOR}{L_COLON} {BLOG_POSTER}<br>
				{L_CATEGORY}{L_COLON} <a href="{CAT_LINK}" title="{CAT_NAME}" alt="">{CAT_NAME}</a><br>
				{L_BLOG_POSTED_ON}{L_COLON} {BLOG_POST_TIME}
				<!-- IF S_EDITED -->
					<br>{EDIT_LAST}<br>
					<!-- IF EDIT_REASON -->{L_BLOG_EDIT_REASON}{L_COLON} {EDIT_REASON}<br><!-- ENDIF -->
					{EDIT_COUNT}
				<!-- ENDIF -->
			</div>
			<br><br>
			<div class="blog-text">
				{BLOG_TEXT}
			</div>
			<br><br>
			<div class="blog-comments">
				<!-- BEGIN comments -->
					<div class="blog-comment-avatar">
						<a name="c{comments.ID}"></a>
						{comments.AVATAR}
					</div>
					<div class="blog-comment-text">
						<!-- IF S_COMMENT_CAN_DEL -->
							<form id="delete_comment" method="post">
								<ul class="post-buttons">
									<li><a href="{comments.U_COMMENT_EDIT}" class="button icon-button edit-icon" title="{L_EDIT}"><span>{L_EDIT}</span></a></li>
									<li><a href="{comments.U_COMMENT_DELETE}" class="button icon-button delete-icon" title="{L_DELETE}"><span>{L_DELETE}</span></a></li>
								</ul>
								<input type="hidden" name="delete_comment_id" value="{comments.ID}" />
							</form>
						<!-- ENDIF -->
						<div class="blog-comment-author">{L_BLOG_POSTED_BY} {comments.POSTER} {L_BLOG_ON} {comments.POST_TIME}</div>
						<br>{comments.TEXT}
					</div>
				<!-- BEGINELSE -->
					<!-- IF S_ENABLE_COMMENTS --><span class="blog-alarm">{L_BLOG_COMMENTS_NONE}</span><!-- ENDIF -->
				<!-- END comments -->
			</div>
			<div class="blog-comment-add">
				<!-- IF not S_IS_BOT and S_COMMENT_CAN_ADD -->
					<!-- IF not S_ENABLE_COMMENTS -->
						<span class="blog-alarm"><!-- IF .comments -->{L_BLOG_COMMENTS_FURTHER}<!-- ELSE -->{L_BLOG_COMMENTS}<!-- ENDIF --> {L_BLOG_COMMENTS_DISABLED}</span>
					<!-- ELSE -->
						<form id="submit_comment" action="{U_ACTION}" method="post">
							<fieldset>
								<textarea name="comment_text" rows="4"></textarea>
							</fieldset>
							<fieldset class="submit-buttons">
								{S_FORM_TOKEN}
								<input type="submit" accesskey="s" tabindex="6" name="submit_comment" value="{L_BLOG_COMMENT}" class="button1 default-submit-action" />&nbsp;
						</fieldset>
						</form>
					<!-- ENDIF -->
				<!-- ENDIF -->
			</div>
		</div>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->