<!-- INCLUDE overall_header.html -->
<a href="{U_UB_BLOG_ADD}" class="button icon-button post-icon blog-add" title="Post a new blog">Add Blog</a>
<h1 class="blog-name">Blog</h1>

<div class="panel blog-panel">
	<div class="inner">
		<div class="panel bg2 blog-categories">
			<h3>Categories</h3>
			<!-- BEGIN cats -->
				<a href="{cats.LINK}" alt="" title="{cats.NAME}">{cats.NAME}</a>
				<!-- IF not cats.S_LAST_ROW --><br><hr><!-- ENDIF -->
			<!-- END cats -->
		</div>
		<div class="blog">
			<h2 class="blog-subject">{BLOG_SUBJECT}</h2>
			<!-- IF BLOG_AVATAR --><div class="blog-avatar">{BLOG_AVATAR}</div><!-- ENDIF -->
			<div class="blog-posted<!-- IF BLOG_AVATAR --> blog-posted-avatar<!-- ENDIF -->">
				Author{L_COLON} {BLOG_POSTER}<br>
				Category{L_COLON} <a href="{CAT_LINK}" title="{CAT_NAME}" alt="">{CAT_NAME}</a><br>
				Post time{L_COLON} {BLOG_POST_TIME}
				<!-- EDIT INFO -->
			</div>
			<br><br>
			<div class="blog-text">
				{BLOG_TEXT}
			</div>
			<br><br>
		</div>
	</div>
</div>
		
<!-- INCLUDE overall_footer.html -->