<!-- INCLUDE overall_header.html -->

<h1 class="blog-name">{L_BLOG}</h1>
<h2 class="blog-title">{L_BLOG_COMMENT_EDIT}</h2>

<div class="panel bg2">
	<div class="inner">
		<h3>{L_BLOG_COMMENT_EDIT}</h3>

		<form method="post" id="postform" action="{U_ACTION}"{S_FORM_ENCTYPE}>
			<fieldset class="fields1">
				<!-- INCLUDE posting_buttons.html -->

				<div id="smiley-box">
					<!-- IF S_SMILIES_STATUS and .smiley -->
						<strong>{L_SMILIES}</strong><br>
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
						<!-- END smiley -->
					<!-- ENDIF -->
					<!-- IF S_SHOW_SMILEY_LINK -->
						<br><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->
				</div>

				<div id="message-box">
					<textarea name="comment_text" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{MESSAGE}</textarea>
				</div>
			</fieldset>

			<div class="panel bg3">
				<div class="inner">
					<fieldset class="submit-buttons">
						{S_FORM_TOKEN}
						<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="button1 default-submit-action" />
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->