<div class="blog-sidebar">
	<div class="panel bg2">
		<h3>{L_CATEGORIES}</h3>
		<!-- BEGIN cats -->
			<a href="{cats.LINK}" alt="" title="{cats.NAME}">{cats.NAME}</a>
			<!-- IF not cats.S_LAST_ROW --><br><hr><!-- ENDIF -->
		<!-- END cats -->
	</div>
	<div class="panel bg2">
		<h3>{L_BLOG_ARCHIVE}</h3>
		<!-- BEGIN archive -->
			<a href="{archive.U_ARCHIVE_LINK}" alt="" title="{archive.MONTH_YEAR}">{archive.MONTH_YEAR}</a>
			<!-- IF not archive.S_LAST_ROW --><br><hr><!-- ENDIF -->
		<!-- END archive -->
	</div>
</div>